.algolia-search-page-summary {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  width: 860px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between; 

  .search__header {
    width: 100%;
    margin-bottom: 3em; 
    display: flex;

    .button-mobile-filter-toggle {
      margin-right: 1em;
      border: none;
      border-radius: 1px;
      background: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: white;
        width: 22px;
      }
    }

    .ais-SearchBox {
      width: 100%;
    }
    
    .ais-SearchBox .ais-SearchBox-form { 
      display: flex;

      button {
        display: none !important;
      }

      .ais-SearchBox-input {
        border: none;
        border-bottom: solid 2px black;
        padding: 10px 0 10px 1.5em;
        font-size: 2em;
        font-weight: bold;
        border-radius: 0;
        background: url(../../images/search-black.svg) no-repeat left center, transparent;
        background-size: 32px;

        @media(max-width: 730px) {
          font-size: 1em;
          background-size: 24px;
          padding-left: 2em;
        }
      }
    }
  }

  .search-sidebar {
    width: 28%;

    &__mobi-close {
      display: block;
      width: 100%;
      background: black;
      color: white;
      border-radius: 1px;
      border: none;
      margin-bottom: 1.5em;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:active,
      &:hover {
        background: black;
        color: white;
        opacity: .8;
      }
    }

    h4 {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .filter-widget  {
      margin-bottom: 2em;
      border-bottom: solid 1px #eee;
      padding-bottom: 2em;

      .ais-RefinementList-count,
      .ais-HierarchicalMenu-count {
        padding: 3px 5px;
        background: #BE9D4F;
        color: #FFFFFF;
        margin-left: 7px;
        border-radius: 2px;
        font-size: 11px;
        line-height: normal;
      }

      .ais-RefinementList-showMore,
      .ais-HierarchicalMenu-showMore {
        color: black;
        border: none;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 1em;
        border-radius: 30px;
        padding: 6px 16px;
        background: #eee;

        &:hover {
          color: white;
          background: black;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 3px 0;
          list-style: none;
          font-size: 14px;

          label{
            cursor: pointer;
          }
          input[type=checkbox], 
          input[type=radio] {
            margin-right: 10px;
          }
          
          input[type=radio]{
            position: relative;
            top: 2px;
            width: 15px;
            height: 15px;
            border-radius: 2px;
            cursor: pointer;
            &::before{
              display: none;
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: #BE9D4F;
              border: 1px solid #BE9D4F;
              border-radius: 2px;
              z-index: 2;
              
            }
            &::after{
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: #FFFFFF;
              border: 1px solid #BE9D4F;
              border-radius: 2px;
              z-index: 1;
            }
            &:checked{
              &::before{
                display: block;
              }
            }
          }

          .ais-RefinementList-labelText,
          .ais-HierarchicalMenu-link {
            display: flex;
            align-items: center;
            vertical-align: top;
            color: black;

            .ais-HierarchicalMenu-label {
              white-space: nowrap;
              overflow: hidden;
              max-width: 60%;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    &__heading {
      margin-bottom: 2em;
      border-bottom: solid 1px #eee;
      padding-bottom: 2em;

      h4 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .search-content {
    width: 67%;
  }

  @media(max-width: 730px) {
    
    .search-sidebar,
    .search-content {
      width: 100%;
    }
  }

  .ais-Hits {

    .ais-Hits-list {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 1em 0;
        border-bottom: solid 1px #eee;

        .hit-item {
          display: flex;
          flex-wrap: wrap;

          &__thumbnail {
            width: 80px;
            min-width: 80px;
            margin-right: 1.6em;
            overflow: hidden;

            img {
              border: solid 1px #eee;
              border-radius: 2px;
            }

            &:hover{
              img{
                opacity: .6;
              }
            }
          }

          &__entry {
            width: calc(100% - 80px - 1.6em);

            .__title {
              font-size: 1.1em;
              font-weight: bold;
              line-height: 1.1;
              margin-bottom: 0.4em;
              margin-top: 0;

              a {
                color: black;
                svg{
                  margin-bottom: -5px;
                }
                &:hover{
                  color: #BE9D4F;
                  path{
                    fill: #BE9D4F;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .meta-current-seach {

    .meta-info-instant-search {
      display: flex;
      margin: 0;
      padding: 0;
      font-size: 13px;

      li {
        list-style: none;
        margin-right: 1em;
        border-bottom: solid 1px black;
        mark{
          background-color: #BE9D4F;
          color: #FFFFFF;
          padding: 3px 4px;
          border-radius: 2px;
        }
      }
    }
  }

  .ais-Pagination {
    margin-top: 2em;

    .ais-Pagination-list {
      width: calc(100% + 4px);
      margin: 0 -2px;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
      line-height: normal;
      margin-top: 2em;
      font-weight: bold;

      li {
        list-style: none;
        margin: 2px;

        .ais-Pagination-link {
          min-width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #BE9D4F;
          padding: 4px;
          color: #FFFFFF;
          border-radius: 4px;
          transition: all 0.3s;
          &:hover{
            color: #000000;
          }
        }

        &.ais-Pagination-item--selected {

          .ais-Pagination-link {
            color: black;
          }
        }

        &.ais-Pagination-item--disabled {
          opacity: .6;
        }

        &.ais-Pagination-item--firstPage {
          margin-right: auto;
        }

        &.ais-Pagination-item--lastPage {
          margin-left: auto;
        }
      }
    }
  }

  .ais-CurrentRefinements {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px #eee;

    ul.ais-CurrentRefinements-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      li.ais-CurrentRefinements-item {
        list-style: none;
        margin-bottom: 5px;
        font-size: 14px;

        > span:not(.ais-CurrentRefinements-label) {
          list-style: none;
          margin: 0 0 10px 10px;
          font-size: 13px;
          background: #BE9D4F;
          color: #FFFFFF;
          padding: 3px 10px;
          line-height: normal;
          border-radius: 30px;
          border: solid 1px #BE9D4F;

          .ais-CurrentRefinements-delete {
            padding: 0;
            background: none;
            margin-left: 13px;
            border: none;
            color: #FFFFFF;
            font-size: 13px;
          }
        }
      }
    }
  }

  .ais-HierarchicalMenu-list {

    &--child {
      padding-left: 1em !important;
    }
  }

  .ais-HierarchicalMenu-item {

    .ais-HierarchicalMenu-link {
      
      &:before {
        content: "";
        width: 16px;
        height: 16px; 
        margin-right: 0.6em;
        background: url(../../images/arrow-up-black.svg) left center no-repeat;
        background-size: 100%;
        background-color: #eee;
      }
    }

    > a {
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }

    .ais-HierarchicalMenu-label {

    }

    &--selected {

      .ais-HierarchicalMenu-link {
        
        &:before {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        }
      }
      
      > a { 
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}

@media(max-width: 730px) {

  .algolia-search-page-summary {

    .search-sidebar {
      position: fixed;
      left: 0;
      top: 0;
      background: white;
      padding: 10px;
      height: 100vh;
      overflow: auto;
      width: 300px;
      max-width: calc(100% - 50px);
      z-index: 99999;
      border-right: 1px solid #eee;
      box-shadow: 0 0 11px 0 rgb(1 1 1 / 15%);
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: .3s ease;
      -webkit-transition: .3s ease;
    }
  } 
  
  body.search-sidebar-filter-active {

    .algolia-search-page-summary {

      .search-sidebar {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
